/* ------UNIVERSAL STYLE SHEET------ */

/* -----IMPORTS----- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,600;0,900;1,200;1,300;1,600&display=swap');

/* -----PAGE SETUP----- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -----HEADINGS----- */

.pupSpot-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin: none;
  padding: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}
