.footer {
  padding: 1rem;
  color: white;
  background-color: #3a5a40;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 5;
}

.signUpLink {
  /* color: white;
  text-decoration: none; */
  font-weight: bold;
}

/* .copyright {
} */


/* @media (max-width: 428px) {

.footer {
  position:sticky;
}


} */
